.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.register .start {
    margin: auto;
    margin-top: 20px;
}

.register .start img {
    width: 100px;
    height: 100px;
}

.register .end {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 16px -5px grey;
    width: 90%; /* Changed from 33% to 90% for responsiveness */
    max-width: 400px; /* Set a max width */
    margin: auto;
    padding: 30px 20px; /* Adjusted padding */
    box-sizing: border-box;
}

.register h2 {
    font-family: sohne-var, sohne-woff, Helvetica Neue, Arial, sans-serif;
}

.register label {
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Ubuntu";
    margin-bottom: 4px;
}

.register input, select{
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1em;
    outline: none;
    transition: box-shadow 0.3s ease;
    /* width: 100%;  */
    /* Make input take full width */
}

.register input:focus, select:focus{
    box-shadow: 0px 0px 1px 2px rgb(108,142,239);
}

.register button {
    padding: 8px;
    margin-top: 18px;
    font-family: "Amazon Ember", Arial, sans-serif;
    margin-bottom: 20px;
    background-color: rgb(108,142,239);
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Make button take full width */
}